body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  background: #202c33;
  color: white;
}

.header {
  padding: 15px;
  background: #111b21;
  font-weight: bold;
}

.contact {
  padding: 15px;
  border-bottom: 1px solid #2a3942;
  cursor: pointer;
}

.contact:hover {
  background: #2a3942;
}

.active {
  background: #2a3942;
}

/* CHAT */
.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
  background: #0b141a;
}

.chat-header {
  padding: 15px;
  background: #202c33;
  color: white;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

/* MENSAGENS */
.msg {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
}

.sent {
  background: #005c4b;
  margin-left: auto;
}

.received {
  background: #202c33;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 10px;
  background: #202c33;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  background: #00a884;
  color: white;
  cursor: pointer;
}